/*
 * ##########################################################################################
 * UI color palette
 * ##########################################################################################
 */

:root {
}

.mdc-text-field {
    width: 100%;
}

html {
    overflow-y: scroll;
    height: 100%;
}

body {
    height: 100%;
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.mdc-top-app-bar {
  z-index: 7;
}

.mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing)+.mdc-drawer-app-content {
    margin-left: 0;
    margin-right: 0;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.app-bar {
  position: absolute;
}

.buttonbox {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.btn {
    margin: 0 10px;
    padding: 26px;
}

.wrapper img {
    max-width: 100%;
}

.wrapper {
    max-width: 60%;
    width: 100%;
    margin: 5vh auto;
    padding: 40px;
    background-color: #FFF;
    overflow: hidden;
    margin-bottom: 30px;
    clear: both;
    box-sizing: border-box;
    height: fit-content
}

.centered {
    margin: auto;
    text-align: center;
}

.small-card {
    width: 600px;
}

.small-card .btn {
        width: 100%;
        margin: 10px 0;
}

.mdc-list-item .material-icons {
    font-size: 40px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: 100%;
        min-height: 100%;
        margin: 0;
    }

    .buttonbox {
        justify-content: space-evenly;
        display: block;
    }

    .btn {
        width: 100%;
        margin: 10px 0;
    }

    body {
        margin: 0;
    }

    .img {
        width: 100%;
    }

    .small-card {
        width: 100%;
    }
}

.mdc-list-group {
  transition: max-height 0.2s ease-out;
  max-height: none;
  overflow: hidden;
}

.hidden-item {
    max-height: 0;
    display: none;
}
