<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
        <link rel="manifest" href="static/favicon/site.webmanifest">

        <!--jQuery-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

        <!--Google Platform Library-->
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <!-- Required styles for Material Web -->
        <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

        <!-- Required Material Web JavaScript library -->
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Site Stylesheet-->
        <link rel="stylesheet" href="static/ytmigrator.css" type="text/css" media="screen">
        <script src="static/ytmigrator.js"></script>

        <!--Socials-->
        <meta name="author" content="Paige Venuto">
        <meta property="og:site_name" content="yt-data-migrator.heroku.com">
        <meta name="twitter:card" content="summary">
        <title>YT Data Migrator</title>
        <meta name="title" property="og:title" content="YT Data Migrator">
        <meta property="twitter:title" content="YT Data Migrator">
        <meta property="og:url" content="yt-data-migrator.heroku.com">
        <meta property="twitter:url" content="yt-data-migrator.heroku.com">
        <meta name="image" property="og:image" content="yt-data-migrator.heroku.com/static/images/icon.png">
        <meta property="twitter:image" content="yt-data-migrator.heroku.com/static/images/icon.png">
        <meta name="description" property="og:description" content="Easily migrate YouTube data associated with one Google account to another.">
        <meta property="twitter:description" content="Easily migrate YouTube data associated with one Google account to another.">
    </head>

    <body class="mdc-typography">
        {% block content %}
        {% endblock %}
    </body>
</html>
