{% extends 'base.html' %}
{% block content %}
<div class="wrapper mdc-elevation--z1">

<h1 class="mdc-typography--headline2">How It Works</h1>

<h2 class="mdc-typography--headline4">Privacy Policy</h2>
<p class="mdc-typography--body1">
No unnecessary data is stored or accessed, and this app does not use advertisements or analytics.
For further details, the privacy policy can be found 
<a href="./privacy" class="mdc-typography--body1"<b>here</b></a>.</p>

<h2 class="mdc-typography--headline4">Goal</h2>

<p class="mdc-typography--body1">This app aims to migrate data between YouTube accounts by exporting and
importing data through the app with the assistance of the YouTube API.</p>

<p class="mdc-typography--body1"><a href="https://developers.google.com/identity/sign-in/web/sign-in">Google Identity</a><br/>
<a href="https://developers.google.com/youtube/v3/getting-started">YouTube Data API v3</a></p>

<p class="mdc-typography--body1">The interface is intended to be very simple, familiar, and mobile-friendly to
appeal to the average user.  Target users Users who may want to retire an old
Google account would encounter difficulty due to transferring YouTube data
(playlists, likes, subscriptions) to a new Google account.</p>

<h2 class="mdc-typography--headline4">Data needs</h2>

<p class="mdc-typography--body1">Frontend needs will be handled with Axios, JavaScript, JQuery, material design,
and Google fonts unless circumstances change.</p>

<p class="mdc-typography--body1">Backend needs will be handled with Python, PostgreSQL, Flask, and SQLAlchemy.
The API used will be the YouTube Data API v3.</p>

<p class="mdc-typography--body1">Authentication is handled with the Google Identity platform.</p>

<p class="mdc-typography--body1">The YouTube API credentials are obtained for free through the Google Admin
Console.</p>

<h2 class="mdc-typography--headline4">Outline</h2>

<p class="mdc-typography--body1">User data that can be exported at the user&rsquo;s choice will only include the
user&rsquo;s channel subscriptions, liked videos, their Watch Later playlist and it&rsquo;s
content, any saved playlists, and any user-created playlists along with their
content.</p>

<p class="mdc-typography--body1">
The application will not handle saving or migrating the user's own videos,
comments, view history, watch later, added playlists, or other data not
otherwise mentioned.
</p>

<p class="mdc-typography--body1">The application will not handle saving or migrating the user&rsquo;s own videos,
comments, view history, or other data not otherwise mentioned.</p>

<p class="mdc-typography--body1">Login will be handled with BCrypt and JWT. Linking YouTube will be handled with the
Google API, and authentication with OAuth. All user data will be deleted automatically after two weeks.</p>

<p class="mdc-typography--body1">Due to API usage quota, this means that exporting the user&rsquo;s YouTube data will
use up little quota cost, however importing that data will cost 50 out of the
default 10,000 quota per resource inserted, which means only roughly 190 items
can be migrated per day.</p>

<p class="mdc-typography--body1">This limitation is of little concern at the moment since this is an
educational/experimental app running off Heroku, however if it appears to be a
success I will consider more appropriate hosting and can make a request to
YouTube for a quota increase accordingly.</p>

<p class="mdc-typography--body1">If the user&rsquo;s data is too large to work within the quota it will notify them.</p>

<p class="mdc-typography--body1">The user can save their data to a file, although the importing of data will
only use the exported data on the server side, rather than importing from a
user-provided file.</p>

<h2 class="mdc-typography--headline4">User Flow</h2>

<img src="../static/images/userflow.jpg" alt="User Flow" />

<h2 class="mdc-typography--headline4">Database Schema</h2>

<img src="../static/images/databaseschema.png" alt="Database schema" />

</div>
{% endblock %}
