{% extends 'base.html' %}
{% block content %}
<div class="wrapper mdc-elevation--z1">

<h1 class="mdc-typography--headline2">Privacy Policy</h1>

<h2 class="mdc-typography--headline4">What We Collect</h2>

<p class="mdc-typography--body1"><em>Account information.</em> To create an account, you must provide a username and
password. Your username can be anything as long as it is unique, and it doesn’t
have to be related to your real name.</p>

<p class="mdc-typography--body1"><em>Information you provide.</em> The sole purpose of this application is to migrate
YouTube data, and so any data chosen to be migrated is automatically deleted
after two weeks. This is primarily done to allow the data to be modified before migration
and to prevent progress loss or interruption, and if these were not concerns
then there would be no need to store such data. This is also within the Google
API developer policy for how long user data may be stored from the API.</p>

<p class="mdc-typography--body1">The data accessed and stored from the YouTube API includes the following:</p>

<ul>
<li>The user&rsquo;s created playlists and their contents</li>
<li>The user&rsquo;s liked videos list contents</li>
<li>The user&rsquo;s subscriptions list</li>
</ul>


<h2 class="mdc-typography--headline4">How Your Data is Used</h2>

<p class="mdc-typography--body1">Account credentials are stored indefinitely, but can be deleted by the users themselves.</p>

<p class="mdc-typography--body1">Other information is automatically deleted at 14 days and can also be deleted
by the users themselves. This data is only stored to assist with the
migration/exporting process.</p>

<p class="mdc-typography--body1">Users can revoke the access this app has to their data via the Google security
settings page of the following link.
<a href="https://security.google.com/settings/security/permissions">security.google.com/settings/security/permissions
</a></p>

<h2 class="mdc-typography--headline4">How Information About You isn&rsquo;t Shared</h2>

<p class="mdc-typography--body1">Account credentials are not shared. The user&rsquo;s data imported from YouTube is
used to interact with YouTube within the user&rsquo;s control. This application uses
the YouTube API services to do this.</p>

<p class="mdc-typography--body1">Here is the Google privacy policy: <a href="http://www.google.com/policies/privacy">http://www.google.com/policies/privacy</a></p>

<h2 class="mdc-typography--headline4">How We Use Cookies</h2>

<p class="mdc-typography--body1">One cookie is used for the app session, which provides OAuth 2.0 state
validation, CSRF protection, and to save the user login session.</p>

<p class="mdc-typography--body1">The cookie is HTTP only in case of XSS, and is encrypted to prevent manipulation.</p>

<p class="mdc-typography--body1">No settings, additional information, or personal data is stored in cookies.</p>

<h2 class="mdc-typography--headline4">Ads and Analytics Partners</h2>

<p class="mdc-typography--body1">This application does not use advertisements or analytics.</p>

<p class="mdc-typography--body1">It is just an educational project that I hope other people may find personally helpful.</p>

<h2 class="mdc-typography--headline4">Your Choices</h2>

<p class="mdc-typography--body1">The user has the ability to control what data is stored and the ability to
delete their data.</p>

<p class="mdc-typography--body1">Data can also be downloaded in the form of a JSON file for exporting.</p>

<h2 class="mdc-typography--headline4">Contact Us</h2>

<p class="mdc-typography--body1">Users can contact me for questions or complaints about the app&rsquo;s privacy
practices at
<a href="mailto:paige@paigevenuto.com">paige@paigevenuto.com</a></p>

</div>
{% endblock %}
