{% extends 'base.html' %}
{% block content %}
<div class="wrapper mdc-elevation--z1 centered">

    <h1 class="mdc-typography--headline2">YouTube Data Migrator</h1>

    <p class="mdc-typography--body1">Easily migrate YouTube data associated with one Google account to another.
    <br>
    Data that can be migrated includes liked videos, subscriptions, and created playlists.</p>

    <p class="mdc-typography--body2">By using this app you agree to the 
    <a href="http://www.google.com/policies/privacy"  class="mdc-typography--subtitle2">Google Terms of Service and Privacy Policy</a>, and our <a href="./privacy" class="mdc-typography--subtitle2">Privacy Policy</a>.</p>

    <div class="buttonbox">
        <a href="./learnmore" target="blank" class="btn mdc-button mdc-button--outlined">  <span class="mdc-button__ripple"></span> Learn More</a>
        <a href="./dashboard" class="btn mdc-button mdc-button--raised">  <span class="mdc-button__ripple"></span> Get Started</a>
    </div>

</div>
{% endblock %}
